doctype html
html
  include common/_head
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

    .wrapper.bg-up
      .header
        nav.top
          .top-left
            nav.social
              ul.social_list
                li(id="social_list-item_0", class="top_social_list-item")
                  .nav_social_svg.vk-icon
                    include ../images/vk.svg
                    a(href=socials_links[0],class="social_list-link")
                li(id="social_list-item_1", class="top_social_list-item")
                  .nav_social_svg
                    include ../images/git.svg
                    a(href=socials_links[1],class="social_list-link")
                li(id="social_list-item_2", class="top_social_list-item") 
                  .nav_social_svg
                    include ../images/in.svg
                    a(href=socials_links[2],class="social_list-link")




          .top-right
            nav.hamburger
              a(href="#",class="hamburger_link")
                img(class="hamburger_img", src="assets/img/icons/hamburger.svg", alt="вызов подменю")
                       
      .main
        .main_break
        .main_photo
          img(src="assets/img/ava141.jpg", class="ava", alt="фото")

        .main_name Алексей Лапицкий
        .main_note Личный сайт веб разработчика

      .nav-poligons
        .nav-poligons_left
          .pic-poligons
            svg(viewBox="0 0 900 175",preserveAspectRatio="none")
              polygon(points="0,0  0,175  900,175  900,155",fill="#ebefe2")
        .nav-poligons_right
          .pic-poligons
            svg(viewBox="0 0 900 175",preserveAspectRatio="none")
              polygon(points="0,155  0,175  900,175  900,0",fill="#f3f4ee")
        .nav-arrow.arrow-down
          a(href="index.html")
            svg(class="nav-arrow_svg", viewBox="0 0 27 17")
              polyline(points="3,2  13,12  25,2" stroke-width="6")


      .main-about
        .about_wrapper
          .head
            .icon-works.main_icon-about
              include ../images/about_header.svg
            h1.main-h-big.main-about_h ОБО МНЕ
            svg.main-delim.main-about_head_delim
              line.line-delimiter(x1="0",y1="3",x2="89",y2="3") 
          .who
            .main-about_photo-about 
              img(src="assets/img/matrix_ava_437_390.jpg", class="main-about_photo-about_ava", alt="фото")
            h1.main-about_who_h-small КТО Я
            svg.main-about_who_delim
              line(x1="0",y1="3",x2="89",y2="3") 

            p.main-about_content Я веб разработчик из Санкт-Петербурга. Мне 42 года. 
            p.main-about_content Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. 
            p.main-about_content Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .why
          .why_wrapper
            h1.why_h-small 
              p ЧЕМ Я МОГУ БЫТЬ
              p ВАМ ПОЛЕЗЕН
            svg.main-about_why_delim
              line(x1="0",y1="3",x2="89",y2="3") 

            .main-about_content  Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
            .main-about_why_skills
              ul.list
                li.main-about_why_frontend Frontend
                  ul.list
                    for name, index in frontend_skills
                      li(id="frontend_"+name, class="frontend-skill")
                        .main-about_why_skills_skill
                          svg(class="g-circles",id="frontend"+index)
                            circle(class="circle_experience")
                            circle(class="sector circle_experience")
                          .main-about_why_skills_skill_name #{name}
                li.main-about_why_backend Backend
                  ul.list
                    for name, index in backend_skills
                      li(id="backend_"+name, class="backend-skill")
                        .main-about_why_skills_skill
                          svg(class="g-circles",id="backend"+index)
                            circle(class="circle_experience")
                            circle(class="sector circle_experience")
                          .main-about_why_skills_skill_name #{name}
                li.main-about_why_workflow Workflow
                  ul.list
                    for name, index in workflow_skills
                      li(id="workflow_"+name, class="workflow-skill")
                        .main-about_why_skills_skill
                          svg(class="g-circles",id="workflow"+index)
                            circle(class="circle_experience")
                            circle(class="sector circle_experience")
                          .main-about_why_skills_skill_name #{name}
      .maps#maps
      .footer-nav.footer-up
        .info-over-map
          .info-over-map_h Контакты
          svg.main-delim.info-over-map_delim
            line.line-delimiter(x1="0",y1="3",x2="89",y2="3") 
          .info-over-map_contact.info-over-map_skype
            .info-over-map_icon-wrqpper
              .info-over-map_icon
                include ../images/skype.svg
            .info-over-map_text Lapitskiy74
          .info-over-map_contact.info-over-map_mail
            .info-over-map_icon-wrqpper
              .info-over-map_icon
                include ../images/envelope2.svg
            .info-over-map_text Lapits@gmail.com
          .info-over-map_contact.info-over-map_phone
            .info-over-map_icon-wrqpper
              .info-over-map_icon
                include ../images/phone2.svg
            .info-over-map_text +7 999 999 99 99
          .info-over-map_contact.info-over-map_address
            .info-over-map_icon-wrqpper
              .info-over-map_icon
                include ../images/map_marker.svg
            .info-over-map_text Бангкок
        .footer-nav_info 
          p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footer-nav_nav-group
          nav.nav-footer
            ul.nav_list
              for name,index in navs
                li(id="nav_list-item_"+index, class="nav_list-item")
                  a(href=navs_links[index], alt="меню: "+name, class="nav_list-link") #{name}
          nav.social-footer
            ul.social_list
              li(id="social_list-item_0", class="social-footer_social_list-item")
                .nav_social_svg.vk-icon
                  include ../images/vk.svg
                  a(href=socials_links[0],class="social_list-link")
              li(id="social_list-item_1", class="social-footer_social_list-item")
                .nav_social_svg
                  include ../images/git.svg
                  a(href=socials_links[1],class="social_list-link")
              li(id="social_list-item_2", class="social-footer_social_list-item") 
                .nav_social_svg
                  include ../images/in.svg
                  a(href=socials_links[2],class="social_list-link")
              li(id="social_list-item_3", class="autorization") 
                a(href="#", alt="авторизация", class="nav_list-link") Авторизация

        .footer-nav_quote 
          p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
          p.roboto-bold-italic — Martin Golding

    .footer.footer-other.footer-colored
      .footer_copyrights Алексей Лапицкий
      .footer_comments создано с любовью в LoftSchool 2016

  script(src="assets/js/maps.js")
